<div class="jumbotron p-3 p-md-5 text-center">
     <div class="col-md-12 px-0">
          <h1 class="display-4 titles">
               <%= heroTitle %>
          </h1>
          <p class="container lead my-3">
               <%= heroDescription %>
                    <!-- <button class="btn btn-warning btn-lg mt-3">learn more </button> -->
          </p>
     </div>

</div>