<!DOCTYPE html>

<html lang="en">

<head>
     <meta charset="UTF-8" />
     <meta name="description" content="Today you are going to learn to create a Responsive Admin Dashboard Panel with Side Navigation Menu Bar using HTML CSS and JavaScript." />
     <meta name="keywords" content="Admin Dashboard,dashboard sidebar,Dashboard Templates,HTML and CSS,HTML CSS JavaScript,Sidebar Menu,Simple Dashboard,Website Design
" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />

     <link rel="stylesheet" href="css/adstyles.css" />

     <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
     <title>Admin Dashboard Panel HTML CSS JavaScript | CodingNepal</title>
     <script src="https://www.codingnepalweb.com/demos/custom-scripts.js" defer type="f9624304947873393c70d9a0-text/javascript"></script>
</head>

<body>